page-report-status {
  .content-body{
    background-color: white;
  }

  .label_1{
    margin-top: 54px;
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #8D9091;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

  }

  .data-item-list{
    border-radius: 11px 11px 11px 11px;
    border: 1px solid #8D9091;
    -webkit-box-shadow: 0px 0px 0px 1px #000;
    box-shadow: 1px 2px 0px 2px #c9cfd1;
    margin-top: 7px;
    font-size: 15px;
    font-weight: 400;
    color: #8D9091;
    font-family: Arial, Helvetica, sans-serif;
  }

  .label_1{
    color: rgb(246, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif
  }
  .label_2{
    color: rgb(246, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif
  }
  .label_3{
    color: rgb(246, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif
  }
  .label_4{
    margin-left: -100px;
    color: rgb(246, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif
  }

  .tgl{
    margin-top: -14px;
    text-align: right;
  }
  .position-label{
    margin-top: -21px;
  }

  .posisi-tombol{
    width: 100%;
    height: auto;
    bottom: 3px;
    text-align: left;
    right: 10px;
    .back{
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/back.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
    }
    .back:hover
    {
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/back.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
      background-color:rgb(241, 238, 31) !important;
    }
  }
  img.item-md ion-avatar ion-img, .item-md ion-avatar img{
    border-radius: 50%;
    overflow: hidden;
    width: 68px;
    height: 64px;
  }
}
